.contact-form {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
  
    form {
      display: flex;
      flex-direction: column;
  
      .MuiTextField-root {
        margin-bottom: 20px;
      }
  
      .MuiButton-root {
        align-self: center;
      }
    }
  }
  